body {
  background-color: darkseagreen;
  color: azure;
}

.image {
  padding: 0px 30px;
}

.container {
  padding: 0% 70px;
}

.box {
  text-align: center;
}

img {
  margin: 20px;
  padding-right: 2px;
  border-radius: 60px;
  width: 200px;
  height: 200px;
  border: 3px solid green;
}

form {
  font-size: 20px;
  text-align: left;
}

.code{
  font-size: 1.5rem;
  margin: 20px 0;
  color:white;
  font-weight: bold;
}

button {
font-size: 1rem;
padding: 5px 10px;
cursor: pointer;
border: none;
border-radius: 5px;
background-color:green;
color: white;
transition: 1s ease;
}